.choice-container {
    display: flex;
    border-radius: 1rem;
    background-color: #000;
    padding: 2rem;
    margin: 5rem;
    width: 25rem;
    justify-content: space-between;
}

.choice-container p {
    font-size: 3rem;
}

.choices-layout {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.top-row {
    display: flex;
}

.bottom-row {
    display: flex;
}

/* Green color change if correct */
.correct {
    background-color: #48ff00;
}

/* Red color change if incorrect */
.incorrect {
    background-color: #ff0000;
}

#head-up-display {
    display: flex;
    justify-content: space-between;
    margin: 0 2.5rem 6rem 2.5rem;
}

.hud-prefix {
    text-align: center;
    font-size: 2.5rem;
}

.hud-main-text {
    text-align: center;
}

p i {
    color: #fff;
    font-size: 3rem;
}