.choice-container {
    display: flex;
    border-radius: 1rem;
    background-color: #000;
    font-size: 3rem;
    padding: 1rem;
    margin: 5rem;
    width: 20rem;
    justify-content: space-between;
}

.choice-container p {
    color: #fff;
    padding: 0.4rem;
    margin: 0.3rem;
}

.choices-layout {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.top-row {
    display: flex;
}

.bottom-row {
    display: flex;
}

/* Green color change if correct */
.correct {
    background-color: #48ff00;
}

/* Red color change if incorrect */
.incorrect {
    background-color: #ff0000;
}

