/* Link to Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

* {
    font-family: 'Patua One', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    background-image: url("../images/brand-logo-background.jpg");
    background-size: contain;
    background-position: center;
}

html {
    font-size: 62.5%;
}

h1 {
    font-size: 6rem;
    color: #000;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 2.5rem 0;
}

.game-container {
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 3rem auto;
    padding: 2rem;
    border: 0.5rem solid #000;
    border-radius: 1rem;
    background-color: #fff;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 3rem;
    color: #000;
    letter-spacing: 0.3rem;
    text-align: center;
    text-decoration: none;
    border: 0.5rem solid #000;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem 0;
}

/* Button hover glow effect by https://codepen.io/kocsten */
.glow-on-hover {
    width: 40%;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 1rem;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -0.2rem;
    left: -0.2rem;
    background-size: 400%;
    z-index: -1;
    filter: blur(0.5rem);
    width: calc(100% + 0.4rem);
    height: calc(100% + 00.4rem);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 1rem;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    border-radius: 1rem;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.glow-on-hover-end-buttons {
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 1rem;
}

.glow-on-hover-end-buttons:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -0.2rem;
    left: -0.2rem;
    background-size: 400%;
    z-index: -1;
    filter: blur(0.5rem);
    width: calc(100% + 0.4rem);
    height: calc(100% + 00.4rem);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 1rem;
}

/* Style for end page buttons */
.glow-on-hover-end-buttons:active {
    color: #000
}

.glow-on-hover-end-buttons:active:after {
    background: transparent;
}

.glow-on-hover-end-buttons:hover:before {
    opacity: 1;
}

.glow-on-hover-end-buttons:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    border-radius: 1rem;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* Highscores Icon */
a i {
    font-size: 3rem;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Options */
.option-container {
    display: flex;
    border-radius: 1rem;
    background-color: #000;
    margin: 3rem;
    width: 100%;
}

.options-layout {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-right: 6rem;
}

.option-text {
    width: 100%;
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
}

.left-area,
.right-area {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 30rem;
    margin: 1rem;
}

/* HUD Question Counter */
#header-counters {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: -4rem;
}

.counter-text {
    text-align: center;
    font-size: 2.5rem;
}

.counter-score {
    text-align: center;
    font-size: 2.5rem;
    margin-right: 5.5rem;
}

.points {
    text-align: center;
    font-size: 5rem;
    margin-right: 5rem;
}

#questionProgressBar {
    width: 20rem;
    height: 3rem;
    border: 0.4rem solid #000;
    margin-top: 2rem;
    border-radius: 5rem;
    overflow: hidden;
}

#questionProgressBarFull {
    height: 100%;
    background: #000;
    width: 0%;
}

/* Logos */
.photo-layout {
    text-align: center;
}

/* Form */
#end-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-size: 2rem;
    color: #000;
    letter-spacing: 0.3rem;
    text-align: center;
    text-decoration: none;
    border: 0.5rem solid #000;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem 0;
    width: 100%;
}

input::placeholder {
    color: #aaa;
}