@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

* {
    font-family: 'Patua One', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%; /* 62.5% of 16px browser font size is 10px */
}

body {
    background-image: url("../images/brand-logo-background.jpg");
    background-size: contain;
    background-position: center;
}

h1 {
    font-size: 6rem;
    color: #000;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 2.5rem 0;
}

h2 {
    font-size: 4rem;
    color: 5#000;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 2.5rem 0;
}

.game-container {
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 3rem auto;
    padding: 2rem;
    border: 0.5rem solid #000;
    border-radius: 1rem;
    background-color: #fff;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.button {
    font-size: 3rem;
    color: #000;
    letter-spacing: 0.3rem;
    text-align: center;
    text-decoration: none;
    border: 0.5rem solid #000;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem 0;
}

/* Button hover glow effect by https://codepen.io/kocsten */
.glow-on-hover {
    width: 30%;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 1rem;
    cursor: pointer;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -0.2rem;
    left: -0.2rem;
    background-size: 400%;
    z-index: -1;
    filter: blur(0.5rem);
    width: calc(100% + 0.4rem);
    height: calc(100% + 00.4rem);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 1rem;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    border-radius: 1rem;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}